<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Part</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #part type="search" autocomplete="off" shareAutoFocus name="part" id="part"
          [(ngModel)]='inputData.part' (ngModelChange)="startSearch()" placeholder="Pls input Part" weui-required>
      </div>
    </div>
    <div class="weui-panel" style="margin-top: 0px;" *ngIf="inputData.part">
      <div class="weui-panel__bd" *ngIf="searchResults | async; let searchResults; else loading">
        <div class="weui-cell weui-cell_access" *ngFor="let part of searchResults">
          <div class="weui-cell__bd weui-cell_primary" (click)='partClicked(part)'>
            <p>{{part}}</p>
          </div>
        </div>
        <div class="weui-media-box weui-media-box_text" *ngIf="searchResults?.length === 0">Can't find any！</div>
      </div>
      <ng-template #loading>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">Loading...</div>
        </div>
      </ng-template>
    </div>
    <button weui-button (click)='findBatch()'>Find</button>
    <div style='display: flex'>
      <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
    </div>
    <div class="weui-cells__title">Mat. List</div>
    <!-- <div class="weui-cells">
      <div *ngFor='let comp of componentsInfo' class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>{{comp.MATERIAL}}</p>
        </div>
        <div class="weui-cell__ft">{{compDescription(comp)}}</div>
      </div>
    </div> -->

  </div>
</form>
