<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Buffer</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #buffer name="buffer" (keydown.enter)='BufferEntered($event)' [(ngModel)]='queryInfo.materialBuffer'
          placeholder="Pls input Buffer Location">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Part</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #part shareAutoFocus name="part" (keydown.enter)='PartEntered($event)' [(ngModel)]='queryInfo.part'
          placeholder="Pls input Part" weui-required>
      </div>
    </div>
    <button weui-button (click)='FindBatch()'>Find</button>
    <div style='display: flex'>
      <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
    </div>
    <div class="weui-cells__title">Mat. List</div>
    <div class="weui-cells">
      <div *ngFor='let comp of componentsInfo' class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>{{comp.MATERIAL}}</p>
        </div>
        <div class="weui-cell__ft">{{compDescription(comp)}}</div>
      </div>
    </div>

  </div>
</form>
