<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Machine</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #machine shareAutoFocus required name="machine" id="machine" (keydown.enter)='machineEntered($event)'
          shareKeyHandler [keyHandler]='{nextInputId: "batch",inputing: inputing, req: request(requestMachineData, requestMachineDataSuccess, requestMachineDataFailed)}'
          [(ngModel)]='inputData.machineName' placeholder="Pls input Machine" weui-required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{machineInfo.nextOPDisplay()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Batch</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #batch id="batch" name="batch" (keydown.enter)='batchEntered($event)' shareKeyHandler
          [keyHandler]='{nextInputId: "operator",inputing: inputing, req: request(requestBatchData, requestBatchDataSuccess, requestBatchDataFailed)}'
          [(ngModel)]='inputData.barCode' placeholder="Pls input Batch">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{batchInfo.display()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator (keydown.enter)='operatorEntered($event)' id="operator" name="operator"
          [(ngModel)]='inputData.badge' shareKeyHandler [keyHandler]='{inputing: inputing, req: request(requestOperatorData, requestOperatorDataSuccess, requestOperatorDataFailed)}'
          placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo.display()}}
      </span>
    </label>
    <div class="weui-cells__title">Mat. List</div>
    <div class="weui-cells">
      <div *ngFor='let comp of componenstList' class="weui-cell weui-cell_access" (click)='logoffBatch(comp)'>
        <div class="weui-cell__hd">
          <i style='display: block;' [ngClass]='getResultClass(comp)'></i>
        </div>
        <div class="weui-cell__bd">
          <p>{{comp.material + '.' + comp.position}}</p>
        </div>
        <div class="weui-cell__ft">{{compDescription(comp)}}</div>
      </div>
    </div>
    <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(logonBatch, logonBatchSuccess, logonBatchFailed)'>Logon
      Batch</button>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
