<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Batch Nr</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #batch (keydown.enter)='BatchEntered($event)' shareAutoFocus name="batch" id="batch"
          [(ngModel)]='inputData.barCode' shareKeyHandler [keyHandler]='{nextInputId: "numberOfSplits",inputing: inputing, req: request(requestBatchData, requestBatchDataSuccess, requestBatchDataFailed)}'
          placeholder="Pls input Batch Nr" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{batchInfo.display()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Nr. of Splits</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" weui-input='number' [shareMin]="1" #numberOfSplits (keydown.enter)='NumberOfSplitsEntered($event)'
          shareKeyHandler [keyHandler]='{nextInputId: "splittedQty",inputing: inputing, req: request(requestNumberOfSplitsData, requestNumberOfSplitsDataSuccess, requestNumberOfSplitsDataFailed)}'
          name="numberOfSplits" id="numberOfSplits" [(ngModel)]='inputData.numberOfSplits' placeholder="Pls input Nr. of Splits"
          weui-required required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Child Qty</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" weui-input='number' [shareMin]="1" #splittedQty (keydown.enter)='SplittedQtyEntered($event)'
          shareKeyHandler [keyHandler]='{nextInputId: "operator",inputing: inputing, req: request(requestSplittedQtyData, requestSplittedQtyDataSuccess, requestSplittedQtyDataFailed)}'
          name="splittedQty" id="splittedQty" [(ngModel)]='inputData.splittedQty' placeholder="Pls input split qty"
          weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{inputData.remainQtyDisplay()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator (keydown.enter)='OperatorEntered($event)' name="operator" id="operator"
          [(ngModel)]='inputData.badge' shareKeyHandler [keyHandler]='{inputing: inputing, req: request(requestOperatorData, requestOperatorDataSuccess, requestOperatorDataFailed)}'
          placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo.display()}}
      </span>
    </label>
    <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(splitBatch, splitBatchSuccess, splitBatchFailed)'>Split</button>
    <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
