<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Batch Nr</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #licenseTag (keydown.enter)='LicenseTagEntered($event)' shareAutoFocus name="licenseTag"
          [(ngModel)]='data.licenseTag' placeholder="Pls input Batch Nr" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{batchInfo}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Nr. of Splits</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" weui-input='number' #numberOfSplits (keydown.enter)='NumberOfSplitsEntered($event)'
          name="numberOfSplits" [(ngModel)]='data.numberOfSplits' placeholder="Pls input Nr. of Splits" weui-required
          required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Child Qty</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" weui-input='number' #splittedQty (keydown.enter)='SplittedQtyEntered($event)' name="splittedQty"
          [(ngModel)]='data.splittedQty' placeholder="Pls input split qty" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{remainQtyInfo}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator (keydown.enter)='OperatorEntered($event)' name="operator" [(ngModel)]='data.operator'
          placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo}}
      </span>
    </label>
    <button weui-button [disabled]='isDisable()' (click)='splitBatch()'>Split</button>
    <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
  </div>
</form>
<div class="weui-cells">
  <a *ngFor='let ret of results' class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
      <i [ngClass]='getResultClass(ret)'></i>
    </div>
    <div class="weui-cell__bd">
      <p>{{ret.message}}</p>
    </div>
    <div class="weui-cell__ft">{{ret.timeStamp | date: 'yyyy/MM/dd, HH:mm:ss'}}</div>
  </a>
</div>
