<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Machine</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #machine shareAutoFocus required name="machine" (keydown.enter)='machineEntered($event)'
          [(ngModel)]='inputData.machineName' shareKeyHandler [keyHandler]='{nextInputId: "operator",inputing: inputing, req: request(requestMachineData, requestMachineDataSuccess, requestMachineDataFailed)}'
          placeholder="Pls input Machine" weui-required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{machineInfo.currentOPDisplay()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Output Batch</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #batch (keydown.enter)='batchEntered($event)' name="batch" id="batch" [(ngModel)]='inputData.outputBatchName'
          shareKeyHandler [keyHandler]='{nextInputId: "operator",inputing: inputing, req: request(requestBatchData, requestBatchDataSuccess, requestBatchDataFailed)}'
          placeholder="Pls input Batch" weui-required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Batch Qty</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #batchQty [shareMin]='1' (keydown.enter)='quantityEntered($event)' name="batchQty" id="batchQty"
          [(ngModel)]='inputData.outputBatchQty' shareKeyHandler [keyHandler]='{nextInputId: "operator",inputing: inputing}'
          placeholder="Pls input Batch Qty" weui-required required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator (keydown.enter)='operatorEntered($event)' name="operator" id="operator"
          [(ngModel)]='inputData.badge' shareKeyHandler [keyHandler]='{inputing: inputing, req: request(requestOperatorData, requestOperatorDataSuccess, requestOperatorDataFailed)}'
          placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo.display()}}
      </span>
    </label>
    <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(generateOutputBatch, generateOutputBatchSuccess, generateOutputBatchFailed)'>Gen.
      Batch</button>
    <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
