<form #f="ngForm" (ngSubmit)="logonOP()">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">设备</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" shareAutoFocus name="machine" [(ngModel)]='data.machine' placeholder="请输入设备" weui-required>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">工单</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" name="operation" [(ngModel)]='data.operation' disabled placeholder="下一个工单" weui-required="info">
        </div>
      </div>
      <button weui-button>登录</button>
    </div>
</form>
  