<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Machine</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #machine shareKeyHandler required [keyHandler]='{nextInputId: "yield",inputing: inputing, req: requestMachineData}'
          shareAutoFocus name='machine' id='machine' (keydown.enter)='MachineEntered($event)' [(ngModel)]='inputData.machine'
          placeholder="Pls input Machine" weui-required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{machineInfo.currentOPDisplay()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Yield</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" [shareMin]='0' weui-input='number' #yield shareKeyHandler [keyHandler]='{nextInputId: "scrap"}'
          name="yield" id='yield' (keydown.enter)='YieldEntered($event)' [(ngModel)]='inputData.yield' placeholder="Pls input Yield">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Scrap</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" [shareMin]='0' weui-input='number' #scrap shareKeyHandler (keydown.tab)='ScrapEntered($event)'
          (keydown.enter)='ScrapEntered($event)' name="scrap" id="scrap" [(ngModel)]='inputData.scrap' placeholder="Pls input Scrap">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Reason</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #scrapReason shareKeyHandler [keyHandler]='{nextInputId: "operator",inputing: inputing, req: requestScrapReasonData}'
          (keydown.enter)='ScrapReasonEntered($event)' name="scrapReason" id="scrapReason" [(ngModel)]='inputData.scrapReason'
          placeholder="Pls input Scrap Reason">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{reasonInfo.display()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator shareKeyHandler [keyHandler]='{nextInputId: "machine",inputing: inputing, req: requestOperatorData}'
          (keydown.enter)='OperatorEntered($event)' name="operator" id="operator" [(ngModel)]='inputData.badge'
          required placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo.display()}}
      </span>
    </label>
    <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='logoffOperation()'>Logoff
      OP</button>
  </div>
</form>
