<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Machine</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #machine shareAutoFocus name="machine" (keydown.enter)='MachineEntered($event)'
          [(ngModel)]='machineInfo.machine' placeholder="Pls input Machine" weui-required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{machineInfo.nextOPDescription}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Batch</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #batch name="batch" (keydown.enter)='BatchEntered($event)' [(ngModel)]='unloadBatch.batchName'
          placeholder="Pls input Batch">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{toBeUnLoadedBatch.description}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator (keydown.enter)='OperatorEntered($event)' name="operator" [(ngModel)]='unloadBatch.operator'
          placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo}}
      </span>
    </label>
    <div class="weui-cells__title">Mat. List</div>
    <div class="weui-cells">
      <div *ngFor='let comp of componentsInfo' class="weui-cell weui-cell_access" (click)='logoffBatch(comp)'>
        <div class="weui-cell__hd">
          <i style='display: block;' [ngClass]='getResultClass(comp)'></i>
        </div>
        <div class="weui-cell__bd">
          <p>{{comp.MATERIAL}}</p>
        </div>
        <div class="weui-cell__ft">{{compDescription(comp)}}</div>
      </div>
    </div>
    <button weui-button [disabled]='isDisable()' (click)='LogoffInputBatch()'>Logoff</button>
    <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
  </div>
</form>
