<div class="weui-grids">
  <a routerLink="/operation/logon" routerLinkActive="active" class="weui-grid">
      <div class="weui-grid__icon">
          <img src="./assets/img/fastui-folder_add.png" alt="">
      </div>
      <p class="weui-grid__label">工单登录</p>
  </a>
  <a routerLink="/operation/interrupt" routerLinkActive="active" class="weui-grid">
      <div class="weui-grid__icon">
        <img src="./assets/img/fastui-folder_add.png" alt="">
      </div>
      <p class="weui-grid__label">工单中断</p>
  </a>
  <a routerLink="/operation/logoff" routerLinkActive="active" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/fastui-folder_add.png" alt="">
    </div>
    <p class="weui-grid__label">工单结束</p>
</a>
  <a routerLink="/operation/changeInputBatch" routerLinkActive="active"  class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/fastui-folder_add.png" alt="">
    </div>
    <p class="weui-grid__label">工单续料</p>
</a>
  <a routerLink="/operation/semiBatchGen" routerLinkActive="active"  class="weui-grid">
      <div class="weui-grid__icon">
        <img src="./assets/img/fastui-folder_add.png" alt="">
      </div>
      <p class="weui-grid__label">半产品生成</p>
  </a>
  <a routerLink="/operation/fgBatchGen" routerLinkActive="active"  class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/fastui-folder_add.png" alt="">
    </div>
    <p class="weui-grid__label">成品序列号生成</p>
</a>
  <a routerLink="/operation/packing" routerLinkActive="active" class="weui-grid">
      <div class="weui-grid__icon">
        <img src="./assets/img/fastui-folder_add.png" alt="">
      </div>
      <p class="weui-grid__label">包装生成</p>
  </a>
</div>