<form #f="ngForm">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Machine</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #machine shareAutoFocus required name="machine" id="machine" (keydown.enter)='machineEntered($event)'
          shareKeyHandler [keyHandler]='{nextInputId: "tool",inputing: inputing, req: request(requestMachineData, requestMachineDataSuccess, requestMachineDataFailed)}'
          [(ngModel)]='inputData.machineName' placeholder="Pls input Machine" weui-required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{machineInfo.nextOPDisplay()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Tool</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #tool id="tool" name="tool" (keydown.enter)='toolEntered($event)' shareKeyHandler
          [keyHandler]='{nextInputId: "operator",inputing: inputing, req: request(requestToolData, requestToolDataSuccess, requestToolDataFailed)}'
          [(ngModel)]='inputData.tool' placeholder="Pls input Tool">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{toolInfo.display()}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">Operator</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" #operator type='password' (keydown.enter)='operatorEntered($event)' id="operator"
          name="operator" [(ngModel)]='inputData.badge' shareKeyHandler [keyHandler]='{inputing: inputing, req: request(requestOperatorData, requestOperatorDataSuccess, requestOperatorDataFailed)}'
          placeholder="Pls input Operator" weui-required required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{operatorInfo.display()}}
      </span>
    </label>
    <div class="weui-cells__title">Tool. List</div>
    <div class="weui-cells">
      <div *ngFor='let tool of toolList' class="weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <i style='display: block;' [ngClass]='getResultClass(tool)'></i>
        </div>
        <div class="weui-cell__bd">
          <p>{{tool.requiredTool}}</p>
        </div>
        <div class="weui-cell__ft">{{tool.display()}}</div>
      </div>
    </div>
    <button class='weui-flex__item' weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(logonTool, logonToolSuccess, logonToolFailed)'>Logon
      Tool</button>
    <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)='resetForm()'>Reset</button>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
