.footer {
    display: flex;
    height: 3rem;
}

.footer-text {
    flex: 6;
    font-size: .5rem;
    align-self: center;
    text-align: left;
    margin-left: .5rem;
}

.footer-img {
    flex: 6;
    text-align: right;
    margin-right: 5px;
}
